[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
great-expectations = "*"
jupyterlab = "*"
levenshtein = "*"

[dev-packages]
invoke = "*"
black = "*"
isort = "*"
